body {
  background-color: black;
  color: lime;
}

button {
  color: green;
  background-color: yellowgreen;
}

.javascript {
  margin-top: -150px;
  border: 1px solid white;
}

@media screen and (max-width: 1280px) {
  .javascript {
    margin-top: 2px;
  }
}

.big-button {
  width: 150px;
  height: 50px;
}

.bigger-button {
  width: 250px;
  height: 150px;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}

.x090 {
  font-size: 90%;
}

.x075 {
  font-size: 75%;
}

.x2 {
  font-size: 200%;
}

.x3 {
  font-size: 300%;
}

.x4 {
  font-size: 400%;
}

.x45 {
  font-size: 450%;
}

.trans {
  opacity: 0.25;
}

.text-align {
  text-align: center;
}

.containerIndex {
  font-size: 500%;
}

.noSpacingX {
  margin: 1%;
  padding: 0px;
  line-height: 75%;
}

.noSpacing {
  margin: 1%;
  padding: 0px;
}

a:link {
  color: lime;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lime;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: lime;
  background-color: transparent;
  text-decoration: underline;
}
