html {
  font-size: 22px;
}
body {
  padding: 1rem;
  background: linear-gradient(to right, black, lime);
}

.card {
  padding: 1rem;
}
.card img {
  max-width: 100%;
  height: auto;
}
.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
